PORT=5501
NODE_ENV=migraation
DB_HOST=aws-0-us-east-1.pooler.supabase.com
DB_PORT=5432
DB_USERNAME=postgres.eahyxshhggptpjjspcdz
DB_PASSWORD=XyxshhggptpjjspcdGhaf
DB_NAME=postgres
REFRESH_TOKEN_SECRET="secretkeyforrefreshtoken"
JWKS_URI="http://localhost:5501/.well-known/jwks.json"
PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----"