# Ignore artifacts:
dist
coverage
tsconfig.json
readme.md
package*.json
package-lock.json

eslint.config.mjs
scripts/convertPemToJwk.mjs
scripts/generateKeys.mjs
.env.example
.env.dev
.env.prod
.env.test